<h2 class="sub-header">Resource Schema</h2>

<p>Standard ouput schema:</p>
<pre><code>[: .Resource.Schema :]</code></pre>
[: overlay "resource" . :]

<h2 class="sub-header">Properties</h2>
[: overlay "properties" . :]
[: template "fragments/reference/resource_table" . :]
