body {
	padding-top: 106px;
}
.navbar {
    background-color: darkcyan;
}
.navbar-section  {
    background-color: #1c6f6f;
    height: 33px;
}
.footer {
    /* background-color: #031c3c; */
}

img[alt="MAPS Logo"] {
  height: 75px;
}

#navigation > li:last-child {
    margin-top: 0.5em;
    border-top: 1px solid #1c6f6f;
    padding-top: 0.5em;
    width: 80%;
}

#response_body {
    max-height: 350px;
    overflow-y: scroll;
}

html {
    --scrollbarBG: #1c6f6f;
    --thumbBG: darkcyan;
  }

  #response_body::-webkit-scrollbar {
    width: 18px;
  }
  #response_body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
/*  #response_body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }*/
  #response_body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 2px solid var(--scrollbarBG);
  }

  #apiexplorer .header {
    display: none;
  }

  #apiexplorer #response-mime-group {
    border-top: 2px solid #1c6f6f;
  }